<!DOCTYPE html>
<html>
  <body>
    <h1>Brand Tracker App</h1>

    <form action="/addBand" method="post">
      <label for="name">Band name: </label>
      <input id="name" name="name" type="text">
      <a href="/addBand" class="btn btn-warning" role="button">Add a Band</a>
    </form>

    <br><br/>

    <form action="/addVenue" method="post">
      <label for="location">Recipe name</label>
      <input id="location" name="location" type="text">
      <a href="/addVenue" class="btn btn-warning" role="button">Add a Venue</a>
    </form>

  </body>
</html>
