<!DOCTYPE html>
<html>
<head>
  <title>Band Tracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/app.css'>
</head>
<body>
  <div class="container">
    #parse( $template )

  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Farnoosh Johnson Code Review4, Java class @
        <a href="http://www.epicodus.com/">epicodus</a>
      </p>
    </div>
  </footer>
</body>
</html>
