<!DOCTYPE html>
<html>
<body>
  <h1>Manage $venue.getName() Account</h1>

  <h5>Sorry to see you are deleting your venue from the App. Hope to see you back soon!</h5>
  <a href="/manageVenue/$venue.getId()/delete" class="btn btn-danger" id="deleteVenue" role="button">GoodBye $venue.getName()</a>
  <br><br/>


  <br><br/>
  <a href="/">Go back Home</a>
</body>

</html>
