<!DOCTYPE html>
<html>
<body>
  <h1>search</h1>

  <p>Here, you can search all the vanues for a band!</p>

  <form class="navbar-form navbar-left" role="search">
    <form action='/search' method='get'>
      <div class="form-group">
        <label for="bandId">Select a band</label>
        <select id='bandId' name='bandId' type='text' class="form-control">
          <option value=" "> Select a band here </option>
          #foreach($band in $allbands)
          <option value="$band.getId()"> $band.getName() </option>
          #end
        </select>
          <button id="search-button" type="submit" class="btn btn-info" id ="searchVenue" aria-label="Left Align" placeholder="search">Search</button>

      </div>
    </form>
    <br><br/>
    <br><br/>

    #if($venues)
    <ul>
      #foreach ($venue in $venues)
      <li><a href="/manageVenue/$venue.getId()">$venue.getName()</a></li>
      #end
    </ul>
    #end
    <br><br/>
    <a href="/">Go back Home</a>
  </form>

</body>
</html>
