<!DOCTYPE html>
<html>
<body>
  <h1>Manage your Band Account</h1>
  <h3>Changing your band name is so easy, You only need to fill up this form $band.getName() </h3>
  <form action="/addBand/$band.getId()/edit" method="post">
    <input id="bandId" name="bandId" type="hidden" value="$band.getId()">
    <label for="editBand">Update to: </label>
    <input id="editBand" name="editBand" type="text" required>

    <button type="submit" class="btn btn-info" id="editBandName">Edit Band Name</button>
  </form>
  <h3>Sorry to see you are deleting your band from the App. Hope to see you back soon!</h3>
  <a href="/addBand/$band.getId()/delete" class="btn btn-danger" role="button">GoodBye $band.getName()</a>
</body>
</html>
